<h1 align="center">PlayStation: easy platinums</h1>

<p align="center">
    <img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/ps-logo.png" width="200" alt="PlayStation">
</p>

<p align="center">
    This repository is a collection of easy and quick (< 1h) obtainable PlayStation platinum trophies. It is updated daily.
</p>

------

{% set pagerLinks = [] %}

{% for i in range(1, paging.getTotalPages()) %}
    {% if paging.getCurrentPage() == i %}
        {% set pagerLinks = pagerLinks|merge(['<kbd>'~ i ~'</kbd>']) %}
    {% else %}
        {% set pagerLinks = pagerLinks|merge(['<kbd><a href="https://github.com/robiningelbrecht/playstation-easy-platinums/blob/master/public/PAGE-'~ i ~'-SORT_'~ sorting.getSortField().toUpper() ~'_'~ sorting.getSortDirection().toUpper() ~'.md">' ~ i ~ '</a></kbd>']) %}
    {% endif %}
{% endfor %}

<p align="center">
    {{ pagerLinks|join(' | ')|raw }}
</p>

<table>
    <thead>
    <tr>
        <th># {{ renderSort('id', sorting, paging)|raw }}</th>
        <th>Title {{ renderSort('title', sorting, paging)|raw }}</th>
        <th>Time {{ renderSort('time', sorting, paging)|raw }}</th>
        <th>Trophies {{ renderSort('trophies', sorting, paging)|raw }}</th>
        <th><img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/trophy-gold.png" alt="gold" width="20"/></th>
        <th><img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/trophy-silver.png" alt="silver" width="20"/></th>
        <th><img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/trophy-bronze.png" alt="bronze" width="20"/></th>
        <th>Points {{ renderSort('points', sorting, paging)|raw }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <td><a href="{{ row.getUri() }}"><img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/thumbs/{{ row.getThumbnail() }}" alt="{{ row.getTitle() }}" width="60"></a></td>
            <td>
                <a href="{{ row.getUri() }}">{{ row.getTitle()|length > 35 ? row.getTitle()|slice(0, 35) ~ '...' : row.getTitle()  }}</a>
                <kbd>{{ row.getPlatform() }}{{ (row.getRegion()) ? ' • ' ~ row.getRegion() : '' }}</kbd>
            </td>
            <td align="center">{{ row.getApproximateTime() }} min</td>
            <td align="center">{{ row.getTrophiesTotal() }}</td>
            <td align="center">{{ row.getTrophiesGold() }}</td>
            <td align="center">{{ row.getTrophiesSilver() }}</td>
            <td align="center">{{ row.getTrophiesBronze() }}</td>
            <td align="center">{{ row.getPoints() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p align="center">
    {{ pagerLinks|join(' | ')|raw }}
</p>