<h1 align="center">PlayStation: Easy platinums</h1>

<p align="center">
    <img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/ps-logo.png" width="200"
         alt="PlayStation">
</p>

------

<h2 align="center">Statistics</h2>

<div align="center">
    <table>
        <thead>
        <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th># of games added</th>
            <th># trophies</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        {% for row in statistics.getRows() %}
            <tr>
                <td align="center">{{ row.formatDateAsMonth() }}</td>
                <td align="center">{{ row.getNumberOfGames() }}</td>
                <td align="center">{{ row.getNumberOfTrophies() }}</td>
                <td align="center">{{ row.getPoints() }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td align="center"><b>Total</b></td>
            <td align="center"><b>{{ statistics.getTotals().getNumberOfGames() }}</b></td>
            <td align="center"><b>{{ statistics.getTotals().getNumberOfTrophies() }}</b></td>
            <td align="center"><b>{{ statistics.getTotals().getPoints() }}</b></td>
        </tr>
        </tfoot>
    </table>
</div>