<h1 align="center">PlayStation: Easy platinums</h1>

<p align="center">
    <img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/ps-logo.png" width="200"
         alt="PlayStation">
</p>

------

<h2 align="center">Total number of games</h2>

<div align="center">
    <table>
        <thead>
        <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th># of games added</th>
            <th># trophies</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        {% for row in monthlyStatistics.getRows() %}
            <tr>
                <td align="center">{{ row.getLabel() }}</td>
                <td align="center">{{ row.getNumberOfGames()|number_format(0, ',', ' ') }}</td>
                <td align="center">{{ row.getNumberOfTrophies()|number_format(0, ',', ' ') }}</td>
                <td align="center">{{ row.getPoints()|number_format(0, ',', ' ') }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td align="center"><b>Total</b></td>
            <td align="center"><b>{{ monthlyStatistics.getTotals().getNumberOfGames()|number_format(0, ',', ' ') }}</b>
            </td>
            <td align="center">
                <b>{{ monthlyStatistics.getTotals().getNumberOfTrophies()|number_format(0, ',', ' ') }}</b></td>
            <td align="center"><b>{{ monthlyStatistics.getTotals().getPoints()|number_format(0, ',', ' ') }}</b></td>
        </tr>
        </tbody>
    </table>
</div>

<h2 align="center">Games per platform and region</h2>

<div align="center">
    <table>
        <thead>
        <tr>
            <th>Platform /<br/>Region</th>
            {% for platform in platformRegionMatrix.getPlatforms() %}
                <th>{{ platform }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for region in platformRegionMatrix.getRegions() %}
            <tr>
                <td><b>{{ region }}</b></td>
                {% for platform in platformRegionMatrix.getPlatforms() %}
                    <td>{{ platformRegionMatrix.getTotalForPlatformAndRegion(platform, region) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>