{% set pagerLinks = [] %}

{% for i in range(1, totalPages) %}
    {% if currentPage == i %}
        {% set pagerLinks = pagerLinks|merge(['<kbd>'~ i ~'</kbd>']) %}
    {% else %}
        {% set pagerLinks = pagerLinks|merge(['<kbd><a href="https://github.com/robiningelbrecht/playstation-easy-platinums/blob/master/public/PAGE-'~ i ~'-SORT_'~ sorting.getSortField().toUpper() ~'_'~ sorting.getSortDirection().toUpper() ~'.md">' ~ i ~ '</a></kbd>']) %}
    {% endif %}
{% endfor %}

<p align="center">
    {{ pagerLinks|join(' | ')|raw }}
</p>

<table>
    <thead>
    <tr>
        <th># {{ renderSort('id', sorting, currentPage)|raw }}</th>
        <th>Title {{ renderSort('title', sorting, currentPage)|raw }}</th>
        <th>Time {{ renderSort('time', sorting, currentPage)|raw }}</th>
        <th>Trophies {{ renderSort('trophies', sorting, currentPage)|raw }}</th>
        <th><img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/trophy-gold.png" alt="gold" width="20"/></th>
        <th><img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/trophy-silver.png" alt="silver" width="20"/></th>
        <th><img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/trophy-bronze.png" alt="bronze" width="20"/></th>
        <th>Points {{ renderSort('points', sorting, currentPage)|raw }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <td><a href="{{ row.uri }}"><img src="https://github.com/robiningelbrecht/playstation-easy-platinums/raw/master/assets/thumbs/{{ row.thumbnail }}" alt="{{ row.title }}" width="60"></a></td>
            <td>
                <a href="{{ row.uri }}">{{ row.title|length > 35 ? row.title|slice(0, 35) ~ '...' : row.title  }}</a>
                <kbd>{{ row.platform }}{{ (row.region) ? ' • ' ~ row.region : '' }}</kbd>
            </td>
            <td align="center">{{ row.approximateTime }}</td>
            <td align="center">{{ row.trophiesTotal }}</td>
            <td align="center">{{ row.trophiesGold }}</td>
            <td align="center">{{ row.trophiesSilver }}</td>
            <td align="center">{{ row.trophiesBronze }}</td>
            <td align="center">{{ row.points }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p align="center">
    {{ pagerLinks|join(' | ')|raw }}
</p>